<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--fontawesomw-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--Main CSS-->
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="stylesheet" href="css/common.css">

    <title>LeleLand About Us</title>
</head>

<body>

    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <div class="logo">
                    <a href="" class="navbar-brand company-name"><i class="fas fa-paw"></i><img src="./images/logo leleland-2.png" alt="Logo" id="logoPic"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-3" aria-current="page" href="aboutus.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="service.html">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="form-login.html">Form</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar end -->
    </header>

    <main>
        <!--About Us description-->
        <div class="container">
            <div class="aboutus-content">
                <div class="bgimage">
                    <div class="text-box">
                        <h2>About Us</h2>
                        <p>
                        Managed by 4 young passionate pet lovers, we understand the bond between owner and pet, the care that the pet needs, therefore LeleLand Pet Grooming Services is born. 
                        Maintaning a well hygiene health for our pet will defintely increase the emotions well-being for them as well as owner. 
                        Our Spa Treatment is the preferred choice for majority pet's owner among our renowned services as this include deep coat cleansing, skin ailments and even nourishing treatments for smoother and manageable coats. 
                        Don't forget, <strong>WE ARE PET LOVERS TOO!</strong> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--About Us description end-->

        <hr>

        <!-- The Team -->
        <div class="container">
            <div class="team-content">
                
                <h2 class="text-center mb-4">The Team</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card mb-5">
                                <img src="#" alt="Janson">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Gan Boon Chai Janson</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia, enim quidem,
                                        dolor dignissimos doloribus sapiente maxime corporis animi possimus alias minima quae 
                                        magnam aliquam. Porro culpa suscipit dolore fugit!
                                    </p>
                                    <div class="socialMedia">
                                    <a href="https://www.linkedin.com/in/gan-boon-chai-janson-8b0331228" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/JansonGan" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-github"></i></a>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-5">
                                <img src="#" alt="Bang">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Duong Thuc Bang</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia, enim quidem,
                                        dolor dignissimos doloribus sapiente maxime corporis animi possimus alias minima quae 
                                        magnam aliquam. Porro culpa suscipit dolore fugit!
                                    </p>
                                    <div class="socialMedia">
                                    <a href="https://www.linkedin.com/in/bang-duong-672590132/" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/bangdt14" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-github"></i></a>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-5">
                                <img src="images/ChenCheng-ProfilePic.jpg" alt="Chen">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Chen Cheng</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia, enim quidem,
                                        dolor dignissimos doloribus sapiente maxime corporis animi possimus alias minima quae 
                                        magnam aliquam. Porro culpa suscipit dolore fugit!
                                    </p>
                                    <div class="socialMedia">
                                    <a href="https://www.linkedin.com/in/chencheng-a32828193/" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/ChenCheng-0715" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-5">
                                <img src="#" alt="Dm">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Lee Dong Ming</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia, enim quidem,
                                        dolor dignissimos doloribus sapiente maxime corporis animi possimus alias minima quae 
                                        magnam aliquam. Porro culpa suscipit dolore fugit!
                                    </p>
                                    <div class="socialMedia">
                                    <a href="https://www.linkedin.com/in/dong-ming-lee-14b8a4165/" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/Dongminglee" class="bbtn btn-link btn floating btn-lg" target="_blank"><i class="fab fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>    
        </div>
         <!-- The Team end -->

    </main>

    <hr>

     <!--footer-->
    <footer class="text-center">
        <div class="container">
             <!--Social media icon-->
            <section class="socialMedia">
                <p>Find us on social media</p>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-facebook-square"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-twitter"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-linkedin"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-youtube"></i></a>
            </section>
        </div>

        <!-- Webpage link -->
        <div class="footer-link">
            <a href="index.html">Home</a>
            <a href="aboutus.html">About Us</a>
            <a href="service.html">Services</a>
            <a href="contactUs.html">Contact Us</a>
        </div>

         <!--Copyright-->
        <div class="footer p-2">
            &copy 2022 Copyright All Rights Reserves <a href="index.html"
                style="text-decoration: none; color: black;">LeleLand</a>
        </div>
    </footer>
     <!--footer end-->


    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>