<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--fontawesomw-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--Main CSS-->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">
    <title>LeleLan Pet Services</title>
</head>

<body>

    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <div class="logo">
                    <a href="" class="navbar-brand company-name"><i class="fas fa-paw"></i><img
                            src="./images/logo leleland-2.png" alt="Logo" id="logoPic"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active px-3" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="aboutus.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="service.html">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="form-login.html">Form</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar end -->
    </header>

    <main>
        <!--Home top image-->
        <section class="main-content">
            <div class="bg-image" style="background-image: url('./images/mainImage2.jpg')">
                <div class="tagline-bg d-flex">
                    <div class="align-items-center main-content-box">
                        <h1 class="mb-3">Welcome To LeleLand Pet Grooming</h1>
                        <p>A petcation resort style saloon to groom your pampered pet like never before!</p>
                        <a href="service.html" type="button" class="btn btn-success btn-lg mt-lg-5 d btn-main">Book
                            Now</a>
                    </div>
                </div>
            </div>
        </section>
        <!--Home top image end-->

        <!--Our shop description-->
        <section class="our-shop">
            <div class="container">
                <div class="intro-content-box">
                    <h1 class="text-center mb-4">Our Shop</h1>
                    <article id="intro-content"> 
                        <p>LeleLand Pet Grooming Services, founded in 2015, is one of Singapore's most trusted pet grooming services. 
                           Located in the heartland of Singapore island, it is easily accessible by all mode of transportation. With our more than 10 years experience in pet grooming industry stylists, you can be confident that your pampered pet will have the freshest, healthiest and most stunning appearance it has ever had.
                        </p>
                    </article>
                </div>
            </div>
        </section>
        <!--Our shop description end-->

        <hr>

        <!--Our services-->
        <section class="services">
            <div class="container">
                <div class="category-content">
                    <h1 class="text-center mb-4">Most Preferred Services</h1>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="card mb-5">
                                <img src="images/service_4.jpeg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Spa Treatment</h5>
                                    <p class="card-text">Indulge in our spa treatment services for deep coat cleansing, skin ailments and even nourishing treatments for smoother, manageable coats.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>From </b>$40</li>
                                  </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-5">
                                <img src="./images/service_2.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Basic Grooming</h5>
                                    <p class="card-text">Covers all the essentials of routine pet care. Perfect for in-between Full Grooms and for pets who do not require a haircut.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>From </b>$35</li>
                                  </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-5">
                                <img src="./images/service_3.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Full Grooming</h5>
                                    <p class="card-text">All-inclusive service for pets who need complete styling and trimming on top of the essentials - a true makeover experience for your deserving pets.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>From </b>$45</li>
                                  </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="category-btn mt-4">
                        <a href="service.html" type="button" class="btn btn-success btn-lg">Book Now</a>
                    </div>
                </div>
            </div>
        </section>
        <!--Our services end-->

        <hr>

        <!--Testimonial-->
        <section class="testimonial">
            <div class="container">
                <h1 class="text-center mb-5">Testimonials</h1>
            </div>
            <div class="container">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active test-content" data-bs-interval="5000">
                            <h3>"Needless to say we are extremely satisfied with the services. Thanks guys, keep up the
                                good work! Not able to tell you how happy I am with leleland pet grooming."</h3>
                            <em>John Doe</em>
                        </div>
                        <div class="carousel-item test-content" data-bs-interval="5000">
                            <h3>"You guys rock! Leleland Pet grooming is great. It's all good. "</h3>
                            <em>John Doe</em>
                        </div>
                        <div class="carousel-item test-content" data-bs-interval="5000">
                            <h3>"You won't regret it. Thanks for the great service. My pet love it so much. Thank You!"
                            </h3>
                            <em>John Doe</em>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial end-->
    </main>

    <hr>

    <!--footer-->
    <footer class="text-center">
        <div class="container">
            <!--Social media icon-->
            <section class="socialMedia">
                <p>Find us on social media</p>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-facebook-square"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-twitter"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-linkedin"></i></a>
                <a href="" class="btn btn-link btn floating btn-lg"><i class="fab fa-youtube"></i></a>
            </section>
        </div>

        <!-- Webpage link -->
        <div class="footer-link">
            <a href="index.html">Home</a>
            <a href="aboutus.html">About Us</a>
            <a href="service.html">Services</a>
            <a href="contactUs.html">Contact Us</a>
        </div>

        <!--Copyright-->
        <div class="footer p-2">
            &copy 2022 Copyright All Rights Reserves <a href="index.html"
                style="text-decoration: none; color: black;">LeleLand</a>
        </div>
    </footer>
    <!--footer end-->


    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>